@page "/report-daily"
@rendermode InteractiveServer

<div class="bg-white shadow rounded-xl p-6 mb-6">
    <h2 class="text-lg font-semibold mb-4">Operation Details</h2>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
            <label class="block text-sm text-gray-600 mb-1">Chef Name</label>
            <input type="text" class="w-full border rounded-lg px-3 py-2" placeholder="Enter chef name" />
        </div>


        <div>
            <label class="block text-sm text-gray-600 mb-1">Date</label>
            <input type="date" class="w-full border rounded-lg px-3 py-2" />
        </div>


        <div>
            <label class="block text-sm text-gray-600 mb-1">Format</label>
            <select class="w-full border rounded-lg px-3 py-2">
                <option>Select format</option>
                <option>1.5L</option>
                <option>1L</option>
            </select>
        </div>


        <div>
            <label class="block text-sm text-gray-600 mb-1">Objective</label>
            <input type="text" class="w-full border rounded-lg px-3 py-2" placeholder="Enter objective" />
        </div>


        <div>
            <label class="block text-sm text-gray-600 mb-1">Hour</label>
            <input type="time" class="w-full border rounded-lg px-3 py-2" />
        </div>


        <div>
            <label class="block text-sm text-gray-600 mb-1">Speed (Beh)</label>
            <input type="number" class="w-full border rounded-lg px-3 py-2" placeholder="Enter speed" />
        </div>
    </div>



</div>

<div class="bg-white shadow rounded-xl p-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">Machine Breakdowns</h2>
        <button @onclick="showmodal" class="px-4 py-2 bg-blue-600 text-white rounded-lg">+ Add Breakdown</button>
    </div>

    <div class="overflow-x-auto p-4">
        <table class="min-w-full border border-gray-300 divide-y divide-gray-200">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-gray-700 font-semibold">Machine</th>
                    <th class="px-4 py-2 text-left text-gray-700 font-semibold">Heure d'arret</th>
                    <th class="px-4 py-2 text-left text-gray-700 font-semibold">Durre d'arret</th>
                    <th class="px-4 py-2 text-left text-gray-700 font-semibold">Code Error</th>
                    <th class="px-4 py-2 text-left text-gray-700 font-semibold">Description</th>


                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-4 py-2">palettiseur</td>
                    <td class="px-4 py-2">09:00</td>
                    <td class="px-4 py-2">40min</td>
                    <td class="px-4 py-2">1925</td>
                    <td class="px-4 py-2">|| </td>
                </tr>
                <tr>
                    <td class="px-4 py-2">palettiseur</td>
                    <td class="px-4 py-2">07:00</td>
                    <td class="px-4 py-2">40min</td>
                    <td class="px-4 py-2">1955</td>
                    <td class="px-4 py-2">|| </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<BreackdownModal @ref="breackdownlink" Machines="lismachines" />